@(categoryType: String, fileCardSeq: Seq[(Option[String], Int)])()
@_template {
    <div class="row column">
        <h2>smr category</h2>
    </div>

    <div class="row column">
        <table class="stack">
            <thead>
                <tr>
                    <th>category</th>
                    <th>COUNT(*)</th>
                </tr>
            </thead>
            <tbody>
            @for(fileCard <- fileCardSeq) {
                <tr>
                    <td><a href="@routes.SmCategoryView.listSubCategoryAndCnt(categoryType, fileCard._1.getOrElse("?"))" >@fileCard._1</a></td>
                    <td>@fileCard._2</td>
                </tr>
            }

            </tbody>
        </table>
    </div>
}()

