@(content: Html)()
<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Storage Manager</title>
        <link href="@routes.Assets.versioned("img/favicon.png")" rel="shortcut icon">
        <link rel='stylesheet' href="@routes.Assets.versioned("css/foundation.css")">
        <link rel='stylesheet' href="@routes.Assets.versioned("css/templatesite.css")">
    </head>

    <script src="@routes.Assets.versioned("javascripts/jquery.js")"> type = "text/javascript" ></script>
    <script src="@routes.Assets.versioned("javascripts/foundation.js")"> type = "text/javascript" </script>

    <body>
        <div id="header" class="top-bar">
            <div class="row">
                <div class="top-bar-left">
                    <ul class="dropdown menu" data-dropdown-menu>
                        <li class="menu-text"><a href="@routes.SmApplication.smIndex()" title="Storage Manager">
                            Storage Manager</a>
                        </li>
                    </ul>
                </div>
                <div class="top-bar-right">
                    <ul class="menu">
                        <li><a href="@routes.SmSearch.queryForm()">Query form</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="main-content" class="row column">
                <!-- <CONTENT> -->
            @content
                <!-- </CONTENT> -->
        </div>
        <div id="footer" class="bottom-toolbar">
            <div class="row column">
                <ul class="menu">
                    <li><a href="@routes.SmReport.checkBackAllFiles">Check backup all files</a></li>
                    <li><a href="@routes.SmReport.checkBackFilesLastYear">Check back files last year</a></li>
                    <li><a href="@routes.SmApplication.listStoreNameAndCnt">List store name and count</a></li>
                    <li><a href="@routes.SmCategoryView.listCategoryAndCnt">Category</a></li>
                    <li><a href="@routes.SmSyncExif.viewAllGps">view all gps</a></li>
                </ul>
            </div>
        </div>

        <script src="@routes.Assets.versioned("javascripts/foundation_init.js")"> type = "text/javascript" </script>
    </body>
</html>
