@import helper._
@(devices: scala.collection.mutable.Seq[DeviceView])(implicit request: MessagesRequestHeader)
@_template {
    <div class="row column">
        <h2>Device import</h2>
    </div>

    @form(routes.SmSyncDeviceStream.refreshDevice()) {
        @CSRF.formField

        <button class="button success">refresh devices</button>
    }

    <div class="row column">
        <table class="stack">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Label</th>
                    <th>Uid</th>
                    <th>Descr</th>
                    <th>last sync</th>
                    <th>visible</th>
                    <th>reliable</th>
                    <th>syncDevice</th>
                    <th>calcCRC</th>
                    <th>calcExif</th>
                </tr>
            </thead>
            <tbody>
            @for(device <- devices) {
                <tr>
                    <td>@device.name</td>
                    <td>@device.label</td>
                    <td><a href="@routes.SmApplication.deviceIndex(device.uid)" >@device.uid</a></td>

                    <td>@device.description</td>

                    @* new device has value LocalDateTime.MIN*@
                    @if(device.syncDate.getYear > -1) {
                        <td>
                            @device.syncDate.toLocalDateTime.toString("dd.MM.yyyy HH:mm")

                            (@{org.joda.time.Days.daysBetween(device.syncDate.toLocalDate, new org.joda.time.LocalDate()).getDays
                        } days ago)
                        </td>
                    } else {
                        <td>None</td>
                    }

                    <td>@device.visible</td>
                    <td>@device.reliable</td>


                    <td>
                        <div class="input-group-button">
                            <form action="@routes.SmSyncDeviceStream.syncDevice(device.uid)" method="post">
                                <button class="button success">sync Device</button>
                            </form>
                        </div>
                    </td>

                    <td>
                        <div class="input-group-button">
                            <form action="@routes.SmSyncDeviceStream.calcCRC(device.uid)" method="post">
                                <button class="button primary">calcCRC</button>
                            </form>
                        </div>
                    </td>

                    <td>
                        <div class="input-group-button">
                            <form action="@routes.SmSyncExif.calcExif(device.uid)" method="post">
                                <button class="button primary">calcExif</button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}
