@(rowSeq: Seq[(String, Int)])()
@_template {
    <div class="row column">
        <h2>Directories</h2>
    </div>
    <div class="row column">
        <table class="stack">
            <thead>
                <tr>
                    <th>Path</th>
                    <th>Cnt files</th>
                </tr>
            </thead>
            <tbody>
            @for(dir <- rowSeq) {
                <tr>
                    <td><a href="@routes.SmCategory.listDirWithoutCatByParent(dir._1, isBegins = false)" >@dir._1</a></td>
                    <td>@dir._2 </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}
