@(sha256: String, devices: Seq[(String, String, String)]
)()
@_template {
    <div class="row column">
        <h2>View files by sha256</h2>
    </div>

    <div class="row column">
        <table class="stack">
            <thead>
                <tr>
                    <th>FileName</th>
                    <th>Path</th>
                    <th>Device</th>
            </thead>
            <tbody>
            @for(device <- devices) {
                <tr>
                    <td><a href="@routes.SmView.viewFile(Some(sha256))">@device._1</a></td>
                    <td>@device._2</td>
                    <td>@device._3</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}
