@import ru.ns.model.OsConf
@import helper._
@(device: String, treePath: String, lstPath: Vector[(String, Int, Int, String, String)], depth: Int, fExtForm: Form[ExtensionForm])(implicit request: MessagesRequestHeader)
@_template {
    <div class="row column">
        <h3>Explorer - @treePath</h3>
        <h4><a href="@routes.SmCategory.listDirWithoutCatByParent(treePath + OsConf.fsSeparator , isBegins = true)" >list dir without category by path</a></h4>
    </div>

    @form(routes.SmReport.checkDuplicatesByParent(device, treePath)) {
        @CSRF.formField
        <h5>check duplicates by parent:</h5>
        @inputText(fExtForm("extension"))
        <input type="submit" value="Submit">
    }

    <div class="row column">
        <table class="stack">
            <thead>
                <tr>
                    <th>Path</th>
                    <th>Count ALL</th>
                    <th>Count <br>
                        Category is null</th>
                    <th>Category</th>
                    <th>id category</th>
                    <th>Sync path</th>
                </tr>
            </thead>
            <tbody>
            @for(path <- lstPath) {
                <tr>
                    <td><a href="@routes.SmView.explorerDevice(device, treePath + OsConf.fsSeparator + path._1, path._1, depth + 1)" >@path._1</a></td>
                    <td>@path._2</td>
                    <td>@path._3</td>
                    <td>@path._4</td>
                    <td>@path._5</td>
                    <td>
                        <div class="input-group-button">
                            <form action="@routes.SmSyncDeviceStream.syncSingleNamePath(treePath + OsConf.fsSeparator + path._1, device)" method="post">
                                <button class="button primary">Sync path</button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}
