@import ru.ns.model.OsConf
@(device: String, treePath:String, cPath:String, lstPath: Vector[(String, Int, Int, String)], depth: Int)()
@_template {
    <div class="row column">
        <h3>Explorer - @treePath</h3>
    </div>
    <div class="row column">
        <table class="stack">
            <thead>
                <tr>
                    <th>Path</th>
                    <th>Count ALL</th>
                    <th>Count <br>
                        Category is null</th>
                    <th>Category</th>
                    <th>Sync path</th>
                </tr>
            </thead>
            <tbody>
            @for(path <- lstPath) {
                <tr>
                    <td><a href="@routes.SmReport.explorerDevice(device, treePath + OsConf.fsSeparator + path._1, path._1, depth + 1)" >@path._1</a></td>
                    <td>@path._2</td>
                    <td>@path._3</td>
                    <td>@path._4</td>
                    <td>
                        <div class="input-group-button">
                            <form action="@routes.SmSyncDeviceStream.syncSingleNamePath(treePath + OsConf.fsSeparator + path._1, device)" method="post">
                                <button class="button primary">Sync path</button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}
