@import ru.ns.model.SmExifGoo

@import scala.collection.mutable.ArrayBuffer

@(smExifs: ArrayBuffer[SmExifGoo])()
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <style>html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #map_canvas {
            height: 100%;
        }</style>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script type="text/javascript">
                function initialise() {
                    var options = {
                        zoom: 2,
                        mapTypeId: google.maps.MapTypeId.ROADMAP,
                        center: new google.maps.LatLng(0.0, 0.0)
                    };
                    var map = new google.maps.Map(document.getElementById('map_canvas'), options);
                    var marker;

                    @for(smExif <- smExifs) {
                    marker = new google.maps.Marker({
                        position: new google.maps.LatLng(@smExif.geoLocation),
                        map: map,
                        title: "\"@smExif.fullPath\""
                    });
                    google.maps.event.addListener(marker, 'click', function () {
                        document.location = "\"@smExif.fullPath\"";
                    });

                    }
                }
        </script>
    </head>
    <body onload="initialise()">
        <div id="map_canvas"></div>
    </body>
</html>