@(cnt: Int, maxRows: Long, rows: Seq[(String, String, java.time.LocalDateTime)]
)()
@_template {
    <div class="row column">
        <h2>Check device backup</h2>
        <h3>all rows - @cnt, max config rows - @maxRows</h3>
    </div>

    <div class="row column">
        <table class="stack">
            <thead>
                <tr>
                    <th>Path</th>
                    <th>Name</th>
                    <th>LastModifiedDate</th>
            </thead>
            <tbody>
            @for(row <- rows) {
                <tr>
                    <td>@row._1</td>
                    <td>@row._2</td>
                    <td>@row._3.format(java.time.format.DateTimeFormatter.ofPattern("dd.MM.yyyy HH:mm"))</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}
