@(implicit assetsFinder: AssetsFinder)

<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Storage Manager</title>
        <link rel="shortcut icon" type="image/png" href="@assetsFinder.path("img/favicon.png")">

        <link rel="stylesheet" href="@assetsFinder.path("css/jquery-ui.css")">
        <link rel="stylesheet" href="@assetsFinder.path("css/style.css")">
        <link rel="stylesheet" href="@assetsFinder.path("css/autocomplete.css")"/>
        <link rel="stylesheet" href="@assetsFinder.path("css/jquery.dataTables.min.css")"/>

        <script src="@assetsFinder.path("javascripts/jquery.js")" type="text/javascript"></script>
        <script src="@assetsFinder.path("javascripts/jquery-ui.js")" type="text/javascript"></script>
        <script src="@assetsFinder.path("javascripts/autocomplete.js")" type="text/javascript"></script>
        <script src="@assetsFinder.path("javascripts/jquery.dataTables.min.js")" type="text/javascript"></script>
    </head>

    <body>
        <table id="fc-table-filter" class="display" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>name</th>
                    <th>path</th>
                    <th>sha256</th>
                    <th>device</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>name</th>
                    <th>path</th>
                    <th>sha256</th>
                    <th>device</th>
                </tr>
            </tfoot>
        </table>

    </body>
</html>
