@(device: String, folders: Vector[(String, Int, Int, Int, String)], depth: Int)()
@_template {
    <div class="row column">
        <h2>Device explorer</h2>
    </div>
    <div class="row column">
        <table class="stack">
            <thead>
                <tr>
                    <th>Path</th>
                    <th>Size Mb</th>
                    <th>Count ALL</th>
                    <th>Count <br>
                        Category is null</th>
                    <th>Category</th>
                    <th>Sync path</th>
                </tr>
            </thead>
            <tbody>
            @for(folder <- folders) {
                <tr>
                    <td><a href="@routes.SmView.explorerDevice(device, folder._1, folder._1, depth)" >@folder._1</a></td>
                    <td>@folder._2</td>
                    <td>@folder._3</td>
                    <td>@folder._4</td>
                    <td>@folder._5</td>
                    <td>
                        <div class="input-group-button">
                            <form action="@routes.SmSyncDeviceStream.syncSingleNamePath(folder._1, device)" method="post">
                                <button class="button primary">Sync path</button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}
