@(devices: scala.collection.mutable.Seq[DeviceView])()
@_template {
    <div class="row column">
        <h2>SmFileCard</h2>
    </div>

    <div class="input-group-button">
        <form action="@routes.SmSyncDeviceStream.deviceImport()" method="get">
            <button class="button success">device import</button>
        </form>
    </div>

    <div class="row column">
        <table class="stack">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Label</th>
                    <th>Uid</th>
                    <th>Descr</th>
                    <th>last sync</th>
                    <th>without CRC</th>
                    <th>view storage</th>
                </tr>
            </thead>
            <tbody>
            @for(device <- devices) {
                <tr>
                    <td>@device.name</td>
                    <td>@device.label </td>
                    <td><a href="@routes.SmApplication.deviceIndex(device.uid)" >@device.uid</a></td>

                    <td>@device.describe </td>

                    @* new device has value LocalDateTime.MIN*@
                    @if(device.syncDate.getYear > -1) {
                        <td>
                            @device.syncDate.toLocalDateTime.toString("dd.MM.yyyy HH:mm")

                            (@{org.joda.time.Days.daysBetween(device.syncDate.toLocalDate, new org.joda.time.LocalDate()).getDays
                        } days ago)
                        </td>
                    } else {
                        <td>None</td>
                    }

                    <td><a href="@routes.SmReport.listFilesWithoutSha256ByDevice(device.uid)" >@device.withOutCrc</a></td>

                    @if(device.syncDate.getYear > -1) {
                        <td><a href="@routes.SmView.viewStorage(device.uid)" >view</a></td>
                    } else {
                        <td></td>
                    }
                </tr>
            }
            </tbody>
        </table>
    </div>
}
